[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi-lgpio" = "*"

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
twine = "*"
urllib3 = ">=2.7.0"
setuptools = "*"

[requires]
python_version = "3"
